@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600&family=Montserrat:wght@200;300;400;500;600&display=swap');
/* font-family: 'Exo 2', sans-serif;
font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'NeueMachina-Bold';
  src: url('../font/NeueMachina-Bold.woff2') format('woff2');
}
  
@font-face {
  font-family: 'NeueMachina-Ultrabold';
  src: url('../font/NeueMachina-Ultrabold.woff2') format('woff2');
}

@font-face {
  font-family: 'NeueMachina-Medium';
  src: url('../font/NeueMachina-Medium.woff2') format('woff2');
}
  
h1, h2, h3, h4 {
  font-family: 'Exo 2', sans-serif;
}
.display-1 {
  font-family: 'Exo 2', sans-serif;
}
.display-3 {
  font-family: 'Exo 2', sans-serif;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
button {
  border: none;
  border-radius: 10px;
  padding: 8px 41px;
  background-color: #3ac0c0;
  color: #111;
  font-family: Montserrat;
  cursor: pointer;
  display: block;
  font-size: 16px;
}
select {
  border: none;
  outline:none;
  padding: 6px 10px !important;
  border-radius: 10px !important;
  border: 1px solid #3ac0c0 !important;
  color: #fff !important;
  font-size: 16px !important;
  background-color: #152b31 !important;
}
select option {
  border: none;
  background-color: #1e2f34 !important;
  color: #fff !important;
  border-radius: 4px !important;
  padding: 5px 10px !important;
}

select option:hover {
  background-color: #3ac0c0;
  color: #fff;
}
input {
    color: #878898;
    font-size: 16px;
    background-color: #f1f2fa;
    padding: 26px;
    border-radius: 10px;
    height: 40px;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border: none;
}
label {
  font-size: 15px;
  margin-bottom: 5px;
}
textarea {
  outline: none;
}
th {
  font-weight: 500;
}
a:-webkit-any-link {
  text-decoration: none;
}

a {
  color: #fff;
  font-weight: 400;
  text-decoration: none !important;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 15px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  overflow:visible
}
/* And so on... */
.li {
  display: block;
  text-decoration: none;
  color: #272C43;
}

.btn-add-trades {
  box-shadow: #3ac0c063 0px 0px 6px 3px;
  background-color: transparent;
  border: 1px solid #3ac0c0;
  cursor: pointer;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
}
.o-scroll {
  overflow-x: scroll;
}
table {
  border-collapse: collapse;
  table-layout: fixed; 
  word-wrap:break-word; 
}
tr {
  background-color: #152b31;
}
th, td {
  width: 12%;
  border: 1px solid #cccccc31;
  padding: 8px;
  font-size: 16px;
}
th {
  font-weight: 500;
  color: #fff !important;
}
td {
  color: #ffffffc5;
}
thead {
  background-color: #24232f;
  border: 2px solid #3ac0c0;
}
.w-150 {
  width: 180%;
}
.active-status {
  border-radius: 0px;
}

.win-status {
  background-color: #1da4a4;
  color: #fff;
  border-radius: 0px;
  font-weight: 600 !important;
}

.win-color {
  color: #1da4a4;
}

.lose-status {
  background-color: red;
  color: #fff;
  border-radius: 0px;
  font-weight: 600 !important;
}

.lose-color {
  color: red;
}

.positive-value {
  color: #17d0d0;
  font-weight: 500;
}

.negative-value {
  color: #ff0000;
  font-weight: 500;
}

.light-over {
  position: fixed;
  display: flex;
  top: 0;
  background-color: #1111119e;
  width: 100%;
  height: 100%;
  z-index: 999;
  justify-content: center;
  align-items: center;
}
.lightbox {
  margin-top: 20px;
  position: relative;
  border: 2px solid #1da4a4;
  border-radius: 20px;
  width: 70%;
  height: auto;
}
.light-img {
  width: 100%;
  border-radius: 20px;
}

.close-lightbox-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: -20px;
  width: 36px;
  height: 36px;
  background-color: #1da4a4;
  border-radius: 8px;
}

.form-promo {
  margin-top: 12px;
  background-color: #1da4a45e;
  border-radius: 10px;
  padding: 8px;
}

.form-promo .form-control {
  margin-top: 6px;
}

*::-webkit-scrollbar {
  width: 8px;               
  height: 8px;
}
*::-webkit-scrollbar-track {
  background: rgb(44, 44, 44);        
}
*::-webkit-scrollbar-thumb {
  background-color: #1da4a4;
  border-radius: 20px;      
}

.upper {
  text-transform: uppercase;
}
.header {
  justify-content: space-between;
  z-index: 999;
}
.card {
  border-radius: 10px;
  background-color: #ffffff14;
}
.width-100 {
  width: 100%;
}
.width-90 {
  width: 90%;
}
.width-85 {
  width: 85%;
}
.width-80 {
  width: 80%;
}
.width-70 {
  width: 70%;
}
.width-60 {
  width: 60%;
}
.width-50 {
  width: 50%;
}
.width-45 {
  width: 45%;
}
.width-40 {
  width: 40%;
}
.width-33 {
  width: 33%;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-i-flex {
  display: inline-flex;
}
.fd-row {
  flex-direction: row;
}
.fd-column {
  flex-direction: column;
}
.ac-center {
  align-content: center;
  flex-wrap: wrap;
}
.ai-center {
  align-items: center;
}
.ai-stretch {
  align-items: stretch;
}
.ai-start {
  align-items: flex-start;
}
.ai-end {
  align-items: flex-end;
}
.navbar {
  justify-content: space-between;
  width: 440px;
}
.navbar-sec {
  justify-content: space-between;
  width: 700px;
}
.general-image {
  width: 300px;
}
.col-23 {
  width: 59%;
}
.col-13 {
  width: 39%;
}
.col-3 {
  width: 32%;
}
.col-2 {
  width: 49%;
}
.col-4 {
  width: 24%;
}
.col-5 {
  width: 20%;
}
.col-30 {
  width: 30%;
}
.jc-center {
  justify-content: center;
}
.jc-end {
  justify-content: end;
}
.jc-space {
  justify-content: space-between;
}
.jc-around {
  justify-content: space-around;
}
/* Margin Padding Top */
.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-3 {
  padding: 3rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-3 {
  margin: 3rem;
}
.m-l-1 {
  margin-left: 1rem;
}
.m-l-2 {
  margin-left: 2rem;
}
.p-l-1 {
  padding-left: 1rem;
}
.p-l-2 {
  padding-left: 2rem;
}
.m-r-05 {
  margin-right: 0.5rem;
}
.m-r-1 {
  margin-right: 1rem;
}
.m-r-2 {
  margin-right: 2rem;
}
.p-r-1 {
  padding-right: 1rem;
}
.p-r-2 {
  padding-right: 2rem;
}
.m-t-1 {
  margin-top: 1rem;
}
.p-t-1 {
  padding-top: 1rem;
}
.m-t-3 {
  margin-top: 3rem;
}
.p-t-3 {
  padding-top: 3rem;
}
.p-t-5 {
  padding-top: 5rem;
}
.m-b-05 {
  margin-bottom: 0.5rem;
}
.m-b-1 {
  margin-bottom: 1rem;
}
.m-b-2 {
  margin-bottom: 2rem;
}
.p-b-1 {
  padding-bottom: 1rem;
}
.m-b-3 {
  margin-bottom: 3rem;
}
.p-b-3 {
  padding-bottom: 3rem;
}
.m-t-5 {
  margin-top: 5rem;
}
.p-t-5 {
  padding-top: 5rem;
}
.m-t-7 {
  margin-top: 7rem;
}
.p-t-7 {
  padding-top: 7rem;
}
/* Margin Padding Top */
.m-tb-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.p-tb-05 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.p-tb-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.m-tb-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.p-tb-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.m-tb-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.p-tb-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.m-tb-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.p-tb-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.m-lr-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.p-lr-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.m-lr-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}
.p-lr-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.m-lr-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}
.p-lr-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}
.rounded-10 {
  border-radius: 10px;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.fs-12 {
  font-size: 12px;
  line-height: 1.4;
}
.fs-14 {
  font-size: 14px;
  line-height: 1.4;
}
.fs-15 {
  font-size: 15px;
  line-height: 1.4;
}
.fs-16 {
  font-size: 16px;
  line-height: 1.4;
}
.fs-18 {
  font-size: 18px;
  line-height: 1.4;
}
.fs-20 {
  font-size: 20px;
  line-height: 1.4;
}
.display-1 {
  font-weight: 500;
  font-size: 46px;
  line-height: 1.1;
}

.gen-head {
  font-weight: 800;
  font-size: 86px;
  line-height: 1.1;
  font-family: Montserrat;
}

.gen-desc {
  font-size: 18px !important;
  letter-spacing: 10px;
}

.btn-gen {
  font-size: 16px;
  background: #1da4a4;
  border: 2px solid #1da4a4;
  border-radius: 10px;
  letter-spacing: 0.04em; 
  color: #fff;
  padding: 8px 25px;
}
.btn-close{
  font-size: 16px;
  background: #ff0000;
  border: 2px solid #ff0000;
  letter-spacing: 0.04em; 
  color: #fff;
  padding: 8px 25px;
}
.shadow-none {
  box-shadow: none;
}
.gap-3 {
  gap: 30px;
}
.btn-sec {
  font-size: 16px;
  background: transparent;
  border: 2px solid #fff;
  /* border-radius: 10px; */
  letter-spacing: 0.04em; 
  color: #fff;
  padding: 14px 25px;
}
.text-mini {
  font-size: 16px;
  line-height: 1.4em;
}
.text-mini-14 {
  font-size: 12px;
  line-height: 1.4em;
}
.text-mute {
  color: #76788d;
}
.price-container {
  display: flex;
  justify-content: space-between;
}
.price-block {
  width: 46%;
  text-align: center;
  box-shadow: -14px -14px 46px rgba(255, 255, 255, 0.9), 1px 1px 25px rgba(135, 147, 213, 0.3), inset 1px 1px 1px rgba(101, 114, 181, 0.05), inset -1px -1px 4px rgba(83, 92, 136, 0.12);
  border-radius: 18px;
  padding: 10px;
}
.pb-18 {
  font-size: 18px;
}
.btn {
  box-shadow: 1px 1px 6px rgba(135, 147, 213, 0.147);
  border-radius: 10px;
  padding: 8px 41px;
}
.animate {
  opacity: 0;
  animation: ani 1.3s forwards;
}
.animated {
  animation-duration: 1s;
}
.animate__animated {
  animation-duration: 1s !important;
}

.animate__fadeIn {
  animation-name: fadeIn !important;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.bg-sec {
  border-radius: 10px;
  padding: 15px;
  background-color: #1f1e28;
}

.display-3 {
  font-size: 40px;
  line-height: 1.3;
  padding: 0;
  margin: 0;
}
.display-4 {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 500;
  padding: 0;
}
.display-digits {
  font-size: 36px;
  line-height: 1.3;
  font-weight: 500;
  padding: 0;
}
.text-green {
  color: #7cc0ae;
}
.jc-left {
  justify-content: left;
}
.form_radio_btn {
	display: inline-block;
	margin-right: 10px;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
  box-shadow: -14px -14px 46px rgba(255, 255, 255, 0.9), 1px 1px 48px rgba(135, 147, 213, 0.5), inset 1px 1px 1px rgba(101, 114, 181, 0.05), inset -1px -1px 4px rgba(83, 92, 136, 0.12);
	user-select: none;
  border-radius: 18px;
  padding: 22px 26px;
  width: 240px;
}
 
/* Checked */
.form_radio_btn input[type=radio]:checked + label {
	background: #ffd3823b;
}
 
/* Hover */
.form_radio_btn label:hover {
	color: #666;
}
 
/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}
.vue-apexcharts {
  margin-top: -36px;
  margin-bottom: -34px;
}
.form-control {
  border: none;
  background-color: #ffffff14;
  border-radius: 8px;
  padding: 22px 20px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff81;
}
.form-control-select {
  background-color: #ffffff14 !important;
  border: none !important;
  border-radius: 8px !important;
  padding: 10px 20px !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #ffffff81 !important;
  width: 100%;
}

.pointer {
  cursor: pointer;
}
.curtext {
  color: #3ac0c0;
}
.curcolor {
  background-color: #3ac0c0;
  color: #fff;
}
.tabs {
  background-color: #24232f;
}
.text-light {
  color: #fff;
}
.text-dark {
  color: #111;
}
.m-auto {
  margin: auto;
}
.z-index-0 {
  z-index: 0;
}
.z-index-1 {
  z-index: 1;
}
.p-absolut {
  position: absolute;
}
.p-relative {
  position: relative;
}
.opacity-08 {
  opacity: 0.8;
}
.opacity-07 {
  opacity: 0.7;
}
.opacity-05 {
  opacity: 0.5;
}
.opacity-04 {
  opacity: 0.4;
}
.opacity-03 {
  opacity: 0.3;
}
.opacity-02 {
  opacity: 0.2;
}

.product-item img {
  width: 26%;
  border-radius: 20px;
}
.product-info {
  width: 72%;
}


.general {
  background-position: center top;
  background-size: cover;
  height: 700px;
}
.service {
  background-position: center center;
  background-size: cover;
  border-radius: 20px;
  padding: 20px;
}
.question-head {
  font-size: 32px;
}
.section {
  width: 100%;
}
.phone-sphere {
  width: 70%;
}
.col-3 {
  width: 32%;
}
.currency-img {
  border-radius: 10px;
}
.btn-buy {
  font-family: 'NeueMachina-Medium';
  background-color: #1da4a4;
  padding: 8px 12px;
  color: #fff;
  font-size: 16px;
}
.sphere {
  width: 42%;
  top: 150px;
  left: 240px;
  animation-name: MoveCircle360;
    animation-timing-function: linear;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -280px; 
  width: 250px;
  height: 100%;
  background-color: black;
  transition: right 0.3s ease;
  z-index: 1000; 
  padding: 15px;
}

.menu-gen-link {
  text-transform: uppercase !important;
  font-size: 14px !important;
  letter-spacing: 1px;
}

.mobile-menu.open {
  right: 0;
}

.cart-dropdown {
  position: fixed;
  top: 0;
  right: -280px; 
  width: 250px;
  height: 100%;
  background-color: #fff;
  transition: right 0.3s ease;
  z-index: 1000; 
  padding: 15px;
}

.cart-dropdown.open {
  right: 0;
}

.video-background {
  position: relative;
  width: 50%;
  height: 600px;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
  object-fit: cover;
}
.steps-text {
  width: 45%;
}
.head-table {
  font-size: 14px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #00ffd7;
  /* #71b2ff */
}
.table-body {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.col-body {
  font-size: 14px;
  text-align: left;
}
.w-2 {
  width: 2%;
}
.w-4 {
  width: 4%;
}
.w-5 {
  width: 5%;
}
.w-7 {
  width: 7%;
}
.w-10 {
  width: 10%;
}
.w-12 {
  width: 12% !important;
}
.w-15 {
  width: 15% !important;
}
.w-20 {
  width: 20%;
}
.w-30 {
  width: 30%;
}

.user-table {

}

.rub-class {
  margin-top: 5px;
  letter-spacing: 0.5px;
}

.sec-head {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  font-family: Montserrat;
  text-transform: uppercase;
}

.sec-desc {
  width: 85%;
}

.risk-block {
  background-color: #0e100f;
  border-radius: 10px;
  padding: 20px;
}
.tab {
  background-color: #395655;
  cursor: pointer;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 10px;
}
.tab-active-long {
  background-color: #1da4a4;
  box-shadow: none;
}
.tab-active-short {
  background-color: #fc0101;
  box-shadow: none;
}
.card-risk {
  border-left: 2px solid #1da4a4;
}

.style-el {
    border-left: 1px solid #1da4a4;
    border-bottom: 1px solid #1da4a4;
    box-shadow: rgba(13, 16, 18, 0.56) 0px 0px 26px 3px;
}

.bg-abstract {
  left: 0;
  bottom: 0;
}
.bg-abstract-gen {
  left: 0;
  top: 150px;
}
.bg-abstract-revert {
  right: 0;
  bottom: 0;
}
.torus {
  top: 360px;
}

.blure {
  position: absolute;
  bottom: 30;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(200px);
}
.frame {
  position: absolute;
  bottom: 30;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0.7;
}

.box {
    width: 280px;
    height: 120px;
    background: linear-gradient(45deg, #1da4a493, #1da4a428);
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transform: skewX(-25deg);
}

.box .content-para {
    transform: skewX(25deg); 
}

.content-para {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

tr:nth-child(even) {
  background-color: #213940;
}

@keyframes MoveCircle360 {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: #292e4547;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #292e4547;
    opacity: 1;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #292e4547;
    opacity: 1;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #292e4547;
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #292e4547;
}
*::placeholder {
    /* modern browser */
    color: #292e4547;
}


@media screen and ( min-width: 1000px) {

}
@media screen and ( max-width: 1000px) {
  .display-3 {
    font-size: 26px;
  }
  .content {
    flex-direction: column;
  }
  .width-50 {
    width: 100%
  }
  button {
    font-size: 16px;
  }
  .display-3 {
    margin-top: 40px;
  }
  .header {
    justify-content: center;
  }
}



@media screen and (max-width: 675px) {
  h4 {
    font-size: 20px;
  }
  .pm-0 {
    padding: 0px !important;
  }
  .mw-100 {
    width: 100%;
  }
  .header {
    height: 70px;
  }
  .display-1 {
    font-size: 52px;
    letter-spacing: 4px;
  }
  .m-col {
    flex-direction: column;
  }
  .m-row {
    flex-direction: row;
  }
  .mp-tb-3 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .m-jc-center {
    justify-content: center;
  }
  .general-desc {
    width: 100%;
  }
  .btn-gen {
    padding: 14px 10px;
  }
  .btn-sec {
    padding: 14px 10px;
  }
  .first-screen {
    margin-top: 120px;
  }
  .general {
    height: 700px;
  }
  .m-text-left {
    text-align: left;
  }
  .p-tb-5 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .display-3 {
    font-family: 'NeueMachina-Bold';
    margin-top: 20px;
  }
  .sphere {
    width: 50%;
    top: 116px;
    left: 168px;
  }
  .number {
    font-size: 48px;
  }
  .support-img {
    width: 100%;
    margin-bottom: 20px;
  }
  .question-head {
    font-size: 24px;
  }
  .question-desc {
    font-size: 15px;
    width: 80%;
  }
  .m-order-2 {
    order: 2;
  }
  .mm-t-1 {
    margin-top: 1rem;
  }
  .mm-t-2 {
    margin-top: 2rem;
  }
  .footer-head {
    font-size: 24px;
  }
  .generalshop {
    height: 80px;
  }
  .product-item img {
    width: 100%;
  }
  .product-info {
    width: 94%;
    justify-content: space-between;
    margin: 10px;
  }
  .md-none {
    display: none;
  }
  .md-flex {
    display: flex;
  }
  .mobile input {
    padding: 0;
  }
  .mw-60 {
    width: 60%;
  }
  .mw-40 {
    width: 40% !important;
  }
  .mw-20 {
    width: 20% !important;
  }
  .mw-30 {
    width: 30% !important;
  }
  .mw-50 {
    width: 50% !important;
  }
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product-item {
    width: 95%;
  }
  .shop-head {

  }
  .desktop-menu {
    display: none;
  }
  .phone {
    justify-content: flex-end;
    margin-top: 20px;
  }
  .reg-mobile {
    padding-right: 0;
  }
  .checkout-btn {
    width: 100%;
  }
  .gen-desc {
    margin-top: 10px;
    font-size: 10px !important;
    letter-spacing: 3px;
  }
  .coin-btc {
    width: 160%;
  }
  .frame {
    width: 380px;
    bottom: 150px;
    left: 49%;
  } 
  .logo-img {
    width: 82px;
  }
  .blure {
    width: 300px;
  }
  .w-150 {
    width: 570%;
  }
}